<div class="container-fluid text-center mt-5">
<h4>Create Post</h4>
<form method="post" action="/new">

    <div class="form-group">
        <label>Title
            <input type="text" class="form-control" name="title">
        </label>
    </div>

    <div class="form-group">
        <label>Content
            <textarea class="form-control" name="content" rows="3"></textarea>
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Publish post</button>
</form>
</div>
